# whitelist gitignore
*
!*/



# include:

# repo stuff (gitignore, readme)
!.gitignore
!README.md

# c source files
!*.c

# c header files
!*.h

# part D markdown file
!CMSC4000_Assignment3_D_Group5.md

# TODO markdown file
!TODO.md